---
import Layout from "./../../layouts/default.astro";
import { supabase } from "../../lib/supabase";
import { Image } from "astro:assets";
import dayjs from "dayjs";

const limit = 50;

const { data, error } = await supabase
    .from("blogs")
    .select(`id, title, summary, slug, updated_at, cover_img, blog_meta(*), tags`)
    .eq("is_active", 1)
    .order("id", { ascending: false })
    .limit(limit);

if (error) {
    console.log(error);
}

const isDev = import.meta.env.DEV;
const blogs = data ?? [];
const title = "Blogs - Jenuel Dev";
const description = "I build web apps that are engaging, accessible and scalable - JenuelDev";
const adsToRender = `<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2268807726840190"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-gt-35+c9-4n-lq"
     data-ad-client="ca-pub-2268807726840190"
     data-ad-slot="2796186432"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>`;
---

<Layout
    title={title}
    description={description}
    url="https://jenuel.dev/blog"
    images={[
        {
            url: `https://jenuel-dev-og-image.vercel.app/api/og/generate?title=${title}&description=${description}`,
        },
    ]}
>
    <section class="w-full max-w-800px mx-auto px-5 sm:text-lg">
        <h1 class="text-3xl font-bold pt-10 pb-15">Blogs</h1>
        <div class="flex flex-col gap-10">
            {
                blogs.map((blog, i) => (
                    <a href={`/blog/${blog.slug}`} class="flex sm:flex-row flex-col gap-5 group">
                        {blog.cover_img && (
                            <Image
                                src={blog.cover_img}
                                class="rounded-lg w-full mx-auto col-span-2 sm:max-w-200px "
                                width="200"
                                height="100"
                                loading={i < 5 ? "eager" : "lazy"}
                                alt={blog.title}
                            />
                        )}

                        <div class="content-summary leading-5 col-span-6 ">
                            <div class="text-xs sm:mb-1">
                                {dayjs(blog.updated_at).format("DD MMM, YYYY")}
                            </div>
                            <h4 class="sm:mb-2 group-hover:text-[var(--c-blue-500)] text-2xl">
                                {blog.title}
                            </h4>
                            <p class={`line-clamp-6 text-sm ${blog.cover_img && "line-clamp-3"}`}>
                                {blog.summary}
                            </p>
                        </div>
                    </a>
                    <div> {!isDev && i%7 === 0 && (
                        <div set:html={adsToRender}></div>
                    )} </div>
                ))
            }
            
        </div>
    </section>
</Layout>
