---
import { Image } from "astro:assets";
import BelieversSword from "./../assets/images/projects/Believers-Sword.png";
import FamTree from "./../assets/images/projects/famtree.png";

const projects = [
    {
        title: "Believers Sword",
        coverImage: BelieversSword,
        description: `Introducing <a
                        href="https://www.believersword.com/"
                        class="font-bold hover:text-[var(--c-blue-500)] underline"
                    >
                        Believers Sword
                    </a>, a Bible reading app designed for believers like me. Its open source <a
                        href="https://github.com/Bible-Projects/believers-sword-next"
                        class="font-bold hover:text-[var(--c-blue-500)] underline"
                    >
                        it's available as open source.
                    </a>`,
        url: "https://believersword.jenuel.dev/",
    },
    {
        title: "FamTree",
        coverImage: FamTree,
        description:
            "FamTree is a sophisticated application designed for the meticulous management of familial connections.",
        url: "https://famtree.jenuel.dev",
    },
    {
        title: "FaceBook Clone",
        coverImage: "https://public-files.gumroad.com/8to6s6wqqicf42qlfqrkbabp7g8b",
        description:
            "A Facebook look-alike clone made using a popular frontend framework called VueJs version 3 with Vite to give it extra speed.",
        url: "https://store.jenuel.dev/l/face-book-clone-look-alike-using-vuejs?layout=profile",
    },
];
---

<div class="w-full max-w-800px mx-auto mb-20 sm:text-lg px-5">
    <div class="mb-7">
        <div class="sm:text-5xl text-3xl font-800 text-[var(--c-blue-500)] float-left pr-5">
            Personal Project
        </div>
        Learning is a journey, not a destination. One effective way to learn is by creating personal
        projects. I decided it would be a fun challenge to design and build my own.
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
        {
            projects.map((project) => (
                <div class=" bg-white border border-gray-200 rounded-lg shadow:sm dark:bg-gray-800 dark:border-gray-700 hover:shadow-lg transition-all group scale-100 hover:scale-105 relative overflow-hidden">
                    <a
                        href={project.url}
                        class="overflow-hidden h-200px inline-block rounded-t-lg "
                    >
                        {/* @ts-ignore */}
                        <Image
                            src={project.coverImage}
                            alt="Believers Sword"
                            class="w-full h-1/2 absolute group-hover:scale-105 transition-all"
                            width={600}
                            height={300}
                            loading={"lazy"}
                        />
                    </a>
                    <div class="p-5">
                        <div>
                            <a href={project.url}>
                                <div class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white group-hover:underline group-hover:text-[var(--c-blue-500)]">
                                    {project.title}
                                </div>
                            </a>
                            <p
                                class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                                set:html={project.description}
                            />
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</div>
